html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

tr td {
  max-width: 200px;
  min-width: 150px;
}

.chakra-modal__overlay {
  background: rgba(0, 0, 0, 0.16) !important;
}

.ant-upload.ant-upload-disabled {
  opacity: 0.8;
}

.fund_name:hover, .order_id:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--chakra-colors-blue-800);
}

.table_clients .account_id:hover {
  text-decoration: underline;
  cursor: pointer;
  color: var(--chakra-colors-blue-800);
}
